[Dd]ebug/
[Rr]elease/
.builds
bin
obj
publish
*.cachefile
*.csproj
*.ilk
*.meta
*.nupkg
*.nuspec
*.obj
*.orig
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.sln
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.userprefs
*.vspscc
*_i.c
*_p.c
*TemporaryKey.pfx
